{% extends "header.html" %}
{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-sm-12 ">
                <h1>Documentation for the Application Programming Interface of ArgDb</h1>
            </div>
            <div class="col-sm-3 ">
                {#            <div class="col-sm-12 bs-docs-sidebar">#}
                <ul class="nav nav-list" data-spy="">
                    {#                <ul class="nav nav-list bs-docs-sidenav" data-spy="affix">#}
                    <li><a href="#1">1. ArgDB API</a></li>
                    <li><a href="#2">1.1. Retrieve an argument</a></li>
                    <li><a href="#3">1.2. Edit an argument</a></li>
                    <li><a href="#4">1.3. Remove an argument</a></li>
                    <li><a href="#5">1.4. Advanced search</a></li>
                    <li><a href="#6">1.5. Upload an argument</a></li>
                    <li><a href="#7">1.6. Sign in</a></li>
                </ul>
            </div>
            <div class="col-sm-12"><h1 id="1">1. <strong>ArgDB API</strong></h1>


                <h2 id="2">1.1. Retrieve an argument</h2>
                <h3>Returns JSON data about a single SADFace argument.</h3>

                <ul>
                    <li><p><strong>URL</strong></p>

                        <p>/api/v1/arguments/
                            &lt;arg_id&gt;
                        </p>
                    </li>
                    <li><p><strong>Method:</strong></p>

                        <pre class="prettyprint lang-js methods">GET</pre>
                    </li>
                    <li><p><strong>URL Params</strong></p>

                        <p><strong>Required:</strong></p>

                        <pre class="prettyprint lang-js methods">id=[uuid4]</pre>
                    </li>
                    <li><p><strong>Data Params</strong></p>

                        <p>None</p></li>
                    <li><p><strong>Success Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 200 OK <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
  "analyst_email": "icara@banit.club",
  "analyst_name": "Icara Meshinski",
  "created": "2016-06-11T16:32:36",
  "edges": [
    {
      "id": "d7bcef81-0d74-4ae5-96f9-bfb07031f1fa",
      "source_id": "49a786ce-9066-4230-8e18-42086882a160",
      "target_id": "9bfb7cdc-116f-47f5-b85d-ff7c5d329f45"
    },
    {
      "id": "f57ecb48-dfd5-4789-b3c5-46f770f4113d",
      "source_id": "30c9c0ac-ddef-44e7-897d-52ffee97b837",
      "target_id": "49a786ce-9066-4230-8e18-42086882a160"
    },
    {
      "id": "c48c3d75-a8b3-439a-9a2f-b987eaae2c9a",
      "source_id": "02b4009b-1a12-4d53-ab3a-efabe6c44694",
      "target_id": "49a786ce-9066-4230-8e18-42086882a160"
    },
    {
      "id": "86e797aa-ecb0-4fcd-8838-263ceedb099e",
      "source_id": "5760a93a-55e7-447c-a245-7f8d7e7e4434",
      "target_id": "02b4009b-1a12-4d53-ab3a-efabe6c44694"
    },
    {
      "id": "b2531a60-6559-4560-b57b-320f1f3b8386",
      "source_id": "fbaa9b79-0965-45a1-9fd4-60701c2102cf",
      "target_id": "5760a93a-55e7-447c-a245-7f8d7e7e4434"
    }
  ],
  "edited": "2017-07-11T16:32:36",
  "id": "bf16309c-2f72-4c80-8ac4-a4a5aae6ddb8",
  "metadata": {},
  "nodes": [
    {
      "id": "9bfb7cdc-116f-47f5-b85d-ff7c5d329f45",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' campaign video should not have been published, and should be withdrawn.",
      "type": "atom"
    },
    {
      "id": "49a786ce-9066-4230-8e18-42086882a160",
      "name": "support",
      "type": "scheme"
    },
    {
      "id": "30c9c0ac-ddef-44e7-897d-52ffee97b837",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' advert does not clearly express the intended message",
      "type": "atom"
    },
    {
      "id": "02b4009b-1a12-4d53-ab3a-efabe6c44694",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' campaign was the wrong campaign to run",
      "type": "atom"
    },
    {
      "id": "5760a93a-55e7-447c-a245-7f8d7e7e4434",
      "name": "conflict",
      "type": "scheme"
    },
    {
      "id": "fbaa9b79-0965-45a1-9fd4-60701c2102cf",
      "metadata": {},
      "sources": [],
      "text": "Road users have a responsibility to make our roads safer by being more vigilant.",
      "type": "atom"
    }
  ],
  "resources": []
}
</pre>
                            </li>
                        </ul>


                    </li>
                    <li><p><strong>Error Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 404 NOT FOUND <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "No argument was found with id": "arg_id"
}
</pre>
                            </li>
                        </ul>

                        <p>
                        <p>OR</p>

                        <ul>
                            <li><strong>Code:</strong> 401 UNAUTHORIZED <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "Token is missing!"
}
</pre>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h2 id="3">1.2. Edit an argument</h2>
                <h3>Edits or modifies an argument in the SADFace format to the database. </h3>

                <p>Takes SADFace JSON file with the same id as the argument to be edited. </p>

                <ul>
                    <li><p><strong>URL</strong></p>

                        <p>/api/v1/arguments/
                            &lt;arg_id&gt;
                        </p>
                    </li>
                    <li><p><strong>Method:</strong></p>

                        <pre class="prettyprint lang-js methods">PUT</pre>
                    </li>
                    <li><p><strong>URL Params</strong></p>

                        <p><strong>Required:</strong></p>

                        <pre class="prettyprint lang-js methods">id=[uuid4]</pre>
                    </li>
                    <li><p><strong>Data Params</strong></p>

                        <p>JSON file in the SADFace format with the same id as <strong>id=[uuid4]</strong>. Must match
                            the
                            JSON Schema.</p></li>
                    <li><p><strong>Success Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 200 OK <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "The following argument has been edited": {
    "id": "uuid4",
    "uploader": "uuid4(hex)"
    }
}
</pre>
                            </li>
                        </ul>


                    </li>
                    <li>
                        <p><strong>Error Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 404 NOT FOUND <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error":"The provided URL id: 'arg_id' does not match any arguments in the database."
}
</pre>
                            </li>
                        </ul>

                        <p>
                        <p>OR</p>

                        <ul>
                            <li><strong>Code:</strong> 404 NOT FOUND <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error":"An argument with that id does not exist or you don't have permissions to edit this argument"
}
</pre>
                            </li>
                        </ul>

                        <p>
                        <p>OR</p>

                        <ul>
                            <li><strong>Code:</strong> 401 UNAUTHORIZED <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "Token is missing!"
}
</pre>
                              </li></ul>
                      <p>OR</p><ul>
                            <li><strong>Code:</strong> 406 NOT ACCEPTABLE <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "The provided URL id: uuid4 does not match the argument id in the JSON file you supplied."
}
</pre>
                            </li></ul>
                    <p>OR</p><ul>
                            <li><strong>Code:</strong> 406 NOT ACCEPTABLE <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "errors": [
        {
            "error": "'id' is a required property",
            "key": []
        }
     ]
}
</pre>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h2 id="4">Remove an argument</h2>
                <h3>Deletes an argument from the database with the provided id if the caller is the user
                    that
                    uploaded the argument.</h3>

                <ul>
                    <li><p><strong>URL</strong></p>

                        <p>/api/v1/arguments/
                            &lt;arg_id&gt;
                        </p>
                    </li>
                    <li><p><strong>Method:</strong></p>

                        <pre class="prettyprint lang-js methods">DELETE</pre>
                    </li>
                    <li><p><strong>URL Params</strong></p>

                        <p><strong>Required:</strong></p>

                        <pre class="prettyprint lang-js methods">id=[uuid4]</pre>
                    </li>
                    <li><p><strong>Data Params</strong></p>

                        <p>None</p></li>
                    <li><p><strong>Success Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 200 OK <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "message":"Successfully deleted argument with SADFace id: uuid4"
}
</pre>
                            </li>
                        </ul>


                    </li>
                    <li><p><strong>Error Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 401 UNAUTHORIZED <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "Token is missing!"
}
</pre>
                            </li>
                        </ul>
                        <p>OR</p>
                        <ul>
                            <li><strong>Code:</strong> 404 NOT FOUND <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "No argument found with id :uuid4"
}
</pre>
                            </li>
                        </ul>
                        <p>OR</p>
                        <ul>
                            <li><strong>Code:</strong> 403 FORBidDEN <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "You cannot delete argument with SADFace id: uuid4"
}
</pre>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h2 id="5">1.4. Advanced search</h2>
                <h3>Returns a list of arguments which match the provided parameters.</h3>

                <ul>
                    <li><p><strong>URL</strong></p>

                        <p>/api/v1/arguments</p></li>
                    <li><p><strong>Method:</strong></p>

                        <pre class="prettyprint lang-js methods">GET</pre>
                    </li>
                    <li><p><strong>URL Params</strong></p>

                        <p><strong>Reaquires at least one of the following in order to perform a search:</strong></p>

                        <pre class="prettyprint lang-js methods">id=[uuid4]</pre>
                        <pre class="prettyprint lang-js methods">analyst_name=[string]</pre>
                        <pre class="prettyprint lang-js methods">argument_text=[string]</pre>
                        <pre class="prettyprint lang-js methods">analyst_email=[string]</pre>
                        <pre class="prettyprint lang-js methods">created=[YYYY-MM-DD]</pre>

                        <p><strong>Optional - fields to return</strong></p>

                        <pre class="prettyprint lang-js methods">fields=[]</pre>
                        <p> The list can contain keys from SADFace</p></li>
                    <li><p><strong>Data Params</strong></p>

                        <p>None</p></li>
                    <li><p><strong>Success Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 200 OK <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
[{
    "Results found": 2
},
{
"Results": [
 "analyst_email": "icara@banit.club",
  "analyst_name": "Icara Meshinski",
  "created": "2016-06-11T16:32:36",
  "edges": [
    {
      "id": "d7bcef81-0d74-4ae5-96f9-bfb07031f1fa",
      "source_id": "49a786ce-9066-4230-8e18-42086882a160",
      "target_id": "9bfb7cdc-116f-47f5-b85d-ff7c5d329f45"
    },
    {
      "id": "f57ecb48-dfd5-4789-b3c5-46f770f4113d",
      "source_id": "30c9c0ac-ddef-44e7-897d-52ffee97b837",
      "target_id": "49a786ce-9066-4230-8e18-42086882a160"
    },
    {
      "id": "c48c3d75-a8b3-439a-9a2f-b987eaae2c9a",
      "source_id": "02b4009b-1a12-4d53-ab3a-efabe6c44694",
      "target_id": "49a786ce-9066-4230-8e18-42086882a160"
    },
    {
      "id": "86e797aa-ecb0-4fcd-8838-263ceedb099e",
      "source_id": "5760a93a-55e7-447c-a245-7f8d7e7e4434",
      "target_id": "02b4009b-1a12-4d53-ab3a-efabe6c44694"
    },
    {
      "id": "b2531a60-6559-4560-b57b-320f1f3b8386",
      "source_id": "fbaa9b79-0965-45a1-9fd4-60701c2102cf",
      "target_id": "5760a93a-55e7-447c-a245-7f8d7e7e4434"
    }
  ],
  "edited": "2017-07-11T16:32:36",
  "id": "bf16309c-2f72-4c80-8ac4-a4a5aae6ddb8",
  "metadata": {},
  "nodes": [
    {
      "id": "9bfb7cdc-116f-47f5-b85d-ff7c5d329f45",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' campaign video should not have been published, and should be withdrawn.",
      "type": "atom"
    },
    {
      "id": "49a786ce-9066-4230-8e18-42086882a160",
      "name": "support",
      "type": "scheme"
    },
    {
      "id": "30c9c0ac-ddef-44e7-897d-52ffee97b837",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' advert does not clearly express the intended message",
      "type": "atom"
    },
    {
      "id": "02b4009b-1a12-4d53-ab3a-efabe6c44694",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' campaign was the wrong campaign to run",
      "type": "atom"
    },
    {
      "id": "5760a93a-55e7-447c-a245-7f8d7e7e4434",
      "name": "conflict",
      "type": "scheme"
    },
    {
      "id": "fbaa9b79-0965-45a1-9fd4-60701c2102cf",
      "metadata": {},
      "sources": [],
      "text": "Road users have a responsibility to make our roads safer by being more vigilant.",
      "type": "atom"
    }
  ],
  "resources": []
},
                     "analyst_email": "icara@banit.club",
  "analyst_name": "Icara Meshinski",
  "created": "2016-06-11T16:32:36",
  "edges": [
    {
      "id": "d7bcef81-0d74-4ae5-96f9-bfb07031f1fa",
      "source_id": "49a786ce-9066-4230-8e18-42086882a160",
      "target_id": "9bfb7cdc-116f-47f5-b85d-ff7c5d329f45"
    },
    {
      "id": "f57ecb48-dfd5-4789-b3c5-46f770f4113d",
      "source_id": "30c9c0ac-ddef-44e7-897d-52ffee97b837",
      "target_id": "49a786ce-9066-4230-8e18-42086882a160"
    },
    {
      "id": "c48c3d75-a8b3-439a-9a2f-b987eaae2c9a",
      "source_id": "02b4009b-1a12-4d53-ab3a-efabe6c44694",
      "target_id": "49a786ce-9066-4230-8e18-42086882a160"
    },
    {
      "id": "86e797aa-ecb0-4fcd-8838-263ceedb099e",
      "source_id": "5760a93a-55e7-447c-a245-7f8d7e7e4434",
      "target_id": "02b4009b-1a12-4d53-ab3a-efabe6c44694"
    },
    {
      "id": "b2531a60-6559-4560-b57b-320f1f3b8386",
      "source_id": "fbaa9b79-0965-45a1-9fd4-60701c2102cf",
      "target_id": "5760a93a-55e7-447c-a245-7f8d7e7e4434"
    }
  ],
  "edited": "2017-07-11T16:32:36",
  "id": "bf16309c-2f72-4c80-8ac4-a4a5aae6ddb8",
  "metadata": {},
  "nodes": [
    {
      "id": "9bfb7cdc-116f-47f5-b85d-ff7c5d329f45",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' campaign video should not have been published, and should be withdrawn.",
      "type": "atom"
    },
    {
      "id": "49a786ce-9066-4230-8e18-42086882a160",
      "name": "support",
      "type": "scheme"
    },
    {
      "id": "30c9c0ac-ddef-44e7-897d-52ffee97b837",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' advert does not clearly express the intended message",
      "type": "atom"
    },
    {
      "id": "02b4009b-1a12-4d53-ab3a-efabe6c44694",
      "metadata": {},
      "sources": [],
      "text": "The 'Hang Back' campaign was the wrong campaign to run",
      "type": "atom"
    },
    {
      "id": "5760a93a-55e7-447c-a245-7f8d7e7e4434",
      "name": "conflict",
      "type": "scheme"
    },
    {
      "id": "fbaa9b79-0965-45a1-9fd4-60701c2102cf",
      "metadata": {},
      "sources": [],
      "text": "Road users have a responsibility to make our roads safer by being more vigilant.",
      "type": "atom"
    }
  ],
  "resources": []
}]}]
</pre>
                            </li>
                        </ul>


                    </li>
                    <li><p><strong>Error Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 404 NOT FOUND <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error":  No argument was found with id: arg_id"
}
</pre>
                            </li>
                        </ul>

                        <p>OR</p>

                        <ul>
                            <li><strong>Code:</strong> 401 UNAUTHORIZED <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "Token is missing!"
}
</pre>
                            </li>
                        </ul>

                        <p>OR</p>
                        <ul>
                            <li><strong>Code:</strong> 406 NOT ACCEPTABLE <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "Information": "Please provide arguments to search on.",
    "Example URL": "/api/v1/arguments?analyst_name=simon&amp;fields=id Will return all ids
    of SADFace arguments which contain simon in their analst_name field."
}
</pre>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h2 id="6">1.5. Upload an argument</h2>
                <h3>Uploads an argument in the SADFace format to the database. </h3>

                <p>Takes SADFace argument with an id that does not exists in the database. </p>

                <ul>
                    <li><p><strong>URL</strong></p>

                        <p>/api/v1/arguments</p></li>
                    <li><p><strong>Method:</strong></p>

                        <pre class="prettyprint lang-js methods">POST</pre>
                    </li>
                    <li><p><strong>URL Params</strong></p>

                        <p>None</p></li>
                    <li><p><strong>Data Params</strong></p>

                        <p>JSON file in the SADFace format with a unique id that does not exist in the database. Must
                            match
                            the JSON Schema.</p></li>
                    <li><p><strong>Success Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 200 OK <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "The following argument has been replaced": {
        "id": "uuid4",
        "uploader": "uuid4(hex)"
    }
}
</pre>
                            </li>
                        </ul>


                    </li>
                    <li><p><strong>Error Response:</strong></p>





                        <ul>
                            <li><strong>Code:</strong> 409 CONFLICT <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "An argument with this id already exists": {
        "id": "uuid4"
    }
}
</pre>
                            </li>
                        </ul>

                        <p>OR</p>

                        <ul>
                            <li><strong>Code:</strong> 401 UNAUTHORIZED <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "Token is missing!"
}
</pre>
                            </li>
                        </ul>
                        <p>OR</p>
                        <ul>
                            <li><strong>Code:</strong> 406 NOT ACCEPTABLE <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "The provided URL id: uuid4 does not match the argument id in the JSON file you supplied."
}
</pre>
                            </li>
                        </ul>
                        <p>OR</p>
                        <ul>
                            <li><strong>Code:</strong> 406 NOT ACCEPTABLE <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
   "errors":[
      {
         "error":"'id' is a required property"
      }
   ]
}</pre>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h2 id="7">1.6. Sign in</h2>
                <h3>1.6. Returns a JWT when a user provides their username and password as authentication.</h3>

                <ul>
                    <li><p><strong>URL</strong></p>

                        <p>/api/v1/login
                        </p>
                    </li>
                    <li><p><strong>Method:</strong></p>

                        <pre class="prettyprint lang-js methods">GET</pre>
                    </li>
                    <li><p><strong>Authorisation:</strong></p>

                        <pre class="prettyprint lang-js methods">Basic Auth</pre>
                    </li>
                    <li><p><strong>URL Params</strong></p>

                        <p><strong>None</strong></p>


                    </li>
                    <li><p><strong>Data Params</strong></p>

                        <p><strong>None</strong></p></li>
                    <li><p><strong>Success Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 200 OK <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJwdWJsaWNfaWQiOiIyY2M1ZTgyMGZhYzc0MDFiYmJhMzk3ZDYwMDRjYWVkYyIsImV4cCI6MTUwODc4MTkzNn0.xAfC4Iex9Ji9cAEZD7NSUndsk4kcDRAayQPBqZvAbuM"
}</pre>
                            </li>
                        </ul>


                    </li>
                    <li><p><strong>Error Response:</strong></p>

                        <ul>
                            <li><strong>Code:</strong> 401 UNAUTHORIZED <br/>
                                <strong>Content:</strong>
                                <pre class="prettyprint lang-js">
{
    "error": "Invalid username/password combination."
}
</pre>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}