{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 divCentered">

                <h1 class="text-center">Sign in</h1>
                {% if invalidComb %}
                    <div class="alert alert-warning" role="alert">
                        Invalid username/password combination.
                    </div>
                {% endif %}
                {% if emails_sess %}
                    <div class="alert alert-success" role="alert">
                        Your registration has been successful! A verification email has been sent to {{ emails_sess }}.
                    </div>
                {% else %}
                {% endif %}


                <form class="form-horizontal" method=POST action="{{ url_for('login') }}">
                    <div class="form-group">

                        <label class="control-label col-xs-3" for="exampleInputEmail1">Username</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label col-xs-3" for="exampleInputPassword1">Password</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" name="pass" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In
                            </button>
                        </div>
                        <div class="col-xs-9">
                            Don't have an account? <a href="{{ url_for('register') }}">Sign up
                            here</a>.
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}