{% extends "header.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {#        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/91525/potofgold.svg" style="height:50px">#}

            <div class="col-sm-6">
                {#                argument_schema#}
                {#                <title>{{ result }}</title>#}
                <h1>{{ arg_id }}</h1>

                <pre> {{ argument }}</pre>

            </div>
            <div class="col-sm-6">{{ graph }}</div>

        </div>
        <div class="row">

        </div>
    </div>
{% endblock %}


