{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {#        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/91525/potofgold.svg" style="height:50px">#}

            <div class="col-sm-12">
                {#                argument_schema#}
                {#                <title>{{ result }}</title>#}
                <h1>Document ID: {{ arg_id }}</h1>
                <div class="">
                    Analyst name: <a class=""
                                     href="{{ url_for('.list_of_arguments',session_key='analyst_name',session_value=analyst_name) }}">
                    {{ analyst_name }}
                    {#                            {{ loop.index + (page - 1) * per_page }}: {{ search_nodes[loop.index - 1] }}#}
                </a>
                </div>
                <div class="">
                    Analyst email: <a class=""
                                      href="{{ url_for('.list_of_arguments',session_key='analyst_email',session_value=analyst_email) }}">
                    {{ analyst_email }}
                    {#                            {{ loop.index + (page - 1) * per_page }}: {{ search_nodes[loop.index - 1] }}#}
                </a>
                </div>
                {#                <h1>analyst_name: {{ analyst_name }}</h1>#}
                {##}
                {##}
                {#                <h1>analyst_email: {{ analyst_email }}</h1>#}

                <div class="row">
                    <div class="col-sm-12 text-center">{{ graph }}</div>
                </div>
                <pre> {{ argument }}</pre>

            </div>
            {#            <div class="col-sm-6">{{ graph }}</div>#}

        </div>
        <div class="row">

        </div>
    </div>
{% endblock %}


