{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {#        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/91525/potofgold.svg" style="height:50px">#}

            <div class="col-sm-12">

                <h1>Document ID: {{ arg_id }}
                    <a class="btn btn-primary"
                       href="{{ url_for('.download_arg',arg_id=arg_id) }}"><i
                            class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                    </a>
                </h1>

                <h3>
                    Analyst name: <a class=""
                                     href="{{ url_for('.list_of_arguments',s_key='analyst_name',s_value=analyst_name) }}">
                    {{ analyst_name }}
                    {#                            {{ loop.index + (page - 1) * per_page }}: {{ search_nodes[loop.index - 1] }}#}
                </a>
                </h3>
                <h3>
                    Analyst email: <a class=""
                                      href="{{ url_for('.list_of_arguments',s_key='analyst_email',s_value=analyst_email) }}">
                    {{ analyst_email }}

                </a>
                </h3>


                <div class="row">
                    <div class="col-sm-12 text-center">{{ graph }}</div>
                </div>
                <pre class="prettyprint lang-js "> {{ argument }}</pre>

            </div>


        </div>
        <div class="row">

        </div>
    </div>
{% endblock %}


